<a href="https://colab.research.google.com/github/anurag-int/Calculator/blob/master/pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
d = {
    'a':10,
    'b':20,
    'c':30,
    'd':40,
}
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [2]:
import pandas as pd
data = {
    'Name' :['Tom', 'Jack','Steve','John']

}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name
rank1    Tom
rank2   Jack
rank3  Steve
rank4   John

In [16]:
from numpy.random import randn
import pandas as pd
np.random.seed(42)
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.496714 -0.138264  0.647689  1.523030
B -0.234153 -0.234137  1.579213  0.767435
C -0.469474  0.542560 -0.463418 -0.465730
D  0.241962 -1.913280 -1.724918 -0.562288
E -1.012831  0.314247 -0.908024 -1.412304

In [ ]:
from numpy.random import randn
import pandas as pd
np.random.seed(42)

In [10]:
#Data Manipulation : data selectiopn
df.drop('W', axis=1,inplace=True)
df

          X         Y         Z
A -0.138264  0.647689  1.523030
B -0.234137  1.579213  0.767435
C  0.542560 -0.463418 -0.465730
D -1.913280 -1.724918 -0.562288
E  0.314247 -0.908024 -1.412304

In [11]:
df.iloc[3]

X   -1.913280
Y   -1.724918
Z   -0.562288
Name: D, dtype: float64

In [13]:
df.loc[['A','C'],['X','Y']]
df > 0

       X      Y      Z
A  False   True   True
B  False   True   True
C   True  False  False
D  False  False  False
E   True  False  False

In [17]:
df[df>0]

          W         X         Y         Z
A  0.496714       NaN  0.647689  1.523030
B       NaN       NaN  1.579213  0.767435
C       NaN  0.542560       NaN       NaN
D  0.241962       NaN       NaN       NaN
E       NaN  0.314247       NaN       NaN

In [18]:
df[df['W']>0]

          W         X         Y         Z
A  0.496714 -0.138264  0.647689  1.523030
D  0.241962 -1.913280 -1.724918 -0.562288

In [19]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.496714 -0.138264  0.647689  1.523030
1     B -0.234153 -0.234137  1.579213  0.767435
2     C -0.469474  0.542560 -0.463418 -0.465730
3     D  0.241962 -1.913280 -1.724918 -0.562288
4     E -1.012831  0.314247 -0.908024 -1.412304

In [23]:
 import pandas as pd
 d = {'A':[1,2,np.NaN], 'B':[1,np.NaN, np.NaN], 'C':[1,2,3]}
 df = pd.DataFrame(d)
print(df)

     A    B  C
0  1.0  1.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [26]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [27]:
df.fillna(value='FILL VALUE')
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [28]:
df['A'].fillna(value=df['A'].std)

0                                                  1.0
1                                                  2.0
2    <bound method NDFrame._add_numeric_operations....
Name: A, dtype: object

In [33]:
import numpy as np
df = pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[100,0,30,40,50,60]})
print(df)
print("\n after replace \n")
print(df.replace({1000:20,2000:60}))

    one  two
0    10  100
1    20    0
2    30   30
3    40   40
4    50   50
5  2000   60

 after replace

   one  two
0   10  100
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [34]:
import numpy as np
s = pd.Series([1,2,3,4,5,4])
print(s.pct_change())

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64

In [ ]:
# load the CSV into DataFrame

import pandas as pd
df = pd.read_csv('data.csv')
print(df)


# to read full data set
print(df.to_string())

#first 10 data from dataset
df.head(10)

#last 10 data from dataset
df.tail(10)